h1 a, h2 a {
    color: #A7DE1F;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
}



h1 {
  text-align: center;
  border: 4px dotted MediumSeaGreen;
  font-style: italic;
  font-size: 80px;

}

h2 {
    font-family: 'Lobster', cursive;
}




/* mouse over link */
a:hover {
  color: hotpink;
  background-color: #ddd;
}